.section-heading{
  text-align: center;
  span{
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    letter-spacing: 2px;
  }
  h2{
    letter-spacing: 10px;
    margin-bottom: 20px;
  }
  p{
    font-size: 18px;
  }
}